<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center h3">Pedro Luiz Souza Salvino</h2>
        </div>
        <div class="card-body">
          <ul>
            <li><span class="badge bg-success mx-2">RA</span> 0050831921022</li>
            <li>
              <span class="badge bg-success mx-2">Github</span>
              <a href="https://github.com/PedroSalvino">PedroSalvino</a>
            </li>
          </ul>
        </div>
        <div class="card-footer">
          <p class="text-center">
            <span class="badge bg-primary"
              >{{ this.listTasks.getTasks().length }} Tarefas Cadastradas</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
